@import url(https://fonts.googleapis.com/css?family=Oswald|Cutive+Mono|Fjalla+One|Quicksand|Playfair+Display|Open+Sans|Rock+Salt|VT323|Cedarville+Cursive|Permanent+Marker|Nothing+You+Could+Do|Caveat:400,300);

body{
    background-color: #FAF9F6;
}

h1{
    font-family:'Oswald', 'Fjalla One', serif;
    text-align: left;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    /*margin-bottom: 50px;*/
}

p{
        font-family: 'Quicksand',  sans-serif;
        text-align: left;
        font-size: 15px;
        color: #4f4f4f;
        /*margin-bottom: -10px;
        padding-top: 70px;*/
        font-weight: bold;
        letter-spacing: 1px;
}

/*first row on landing page*/
.row1 {
    width: 100% !important;
    display: flex !important;
    padding: 2rem !important;
}

.column1 {
    width: 70%;
    padding: 2rem;
}

.column2 {
    width: 30% !important;
}


/* cool btn */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}