@import url(https://fonts.googleapis.com/css?family=Oswald|Cutive+Mono|Fjalla+One|Quicksand|Playfair+Display|Open+Sans|Rock+Salt|VT323|Cedarville+Cursive|Permanent+Marker|Nothing+You+Could+Do|Caveat:400,300);

body{
    background-color: #FAF9F6;
}

h1{
    font-family:'Oswald', 'Fjalla One', serif;
    text-align: left;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    /*margin-bottom: 50px;*/
}

p{
        font-family: 'Quicksand',  sans-serif;
        text-align: left;
        font-size: 15px;
        color: #4f4f4f;
        /*margin-bottom: -10px;
        padding-top: 70px;*/
        font-weight: bold;
        letter-spacing: 1px;
}

/*first row on landing page*/
.row1 {
    width: 100% !important;
    display: flex !important;
    padding: 2rem 2em 0rem !important;
}

.column1 {
    width: 70%;
    padding: 2rem;
}

.column2 {
    width: 30% !important;
}


/* cool btn */
.button-56 {
  align-items: center;
  background-color: #f7e7ce !important;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}
.button-56 a {
    color: #000 !important;
    text-decoration: none !important;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.columnbtn{
    padding-left: 4rem;
    display: flex;
}

/*media queries*/
@media(max-width:768px){
    .row1 {
        display:flex !important;
        flex-direction: column;
    } 
    .column1 {
       width: 100% !important;
    }
    .column2 {
       width: 100% !important;
       display: flex !important;
       flex-direction: row;
       flex-wrap: nowrap;
       align-content: center;
       justify-content: center;
       align-items: center;
    }
    .row2 {
       padding-top: 2rem !important;
       display: flex !important;
       flex-direction: row;
       flex-wrap: nowrap;
       align-content: center;
       justify-content: center;
       align-items: center;
    }
    
 
 .columnbtn{
    padding-left: 0 !important;
 }
 }
 .column2 img {
    width: 100%;
    max-width: 250px;
} 

/*third row*/
.row3 {
    width: 100% !important;
    display: flex !important;
    padding: 2rem 2em 0rem !important;
}

.columnproject {
    padding: 2rem;
}

/*nav*/
span.navbar-text {
    color: #4f4f4f !important;
    font-weight: bold;
    padding-left: 7rem !important;
    font-family: 'Quicksand', sans-serif;
}

/*-------------cute cards css-----------------*/
.cardcontain{
    padding-top: 2rem!important;
}
/*card one details*/
.cardone {
    background: url('images/ITALY.jpg');
    height: 500px !important;
    background-position: center !important;
    background-size: cover !important;
    width: 50% !important;
    border-radius: 180px !important;
    margin: 0 auto !important;
}
.innercard1{
    color: #fff !important;
    padding: 50px !important;
    width: 80% !important;
    backdrop-filter: blur(10px);
    position: relative;
    top: 79px;
    font-size: 2rem!important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

p{
    font-size:16px;
    display: flex !important;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px !important;
}

.cardone:hover {
    filter: drop-shadow(4px 23px 10px #b7b7a4)
 }
 /*card one details*/


.cardy1{
width:100% !important;
display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}